<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% block body %}
{% endblock %}


<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>

{% block scripts %}
{%  endblock %}

</body>
</html>